.nav-link.active {
    /* font-weight: bold; */
    color: #0d6efd;
}

.card-personnalise{
    width: 20rem;
    height: 15rem;
    margin: 10px;
}

.card-corps {
    overflow-y: auto;
}

.banniere {
    background: url('/images/chien.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
}
