.nav-link.active {
    color: #0d6efd;
}

img{
    width: 40px;
}

.card-personnalise{
    width: 20rem;
    height: 15rem;
    margin: 10px;
}

.card-personnalise-details-animal{
    width: 25rem;
    height: 25rem;
    margin: 15px;
}

.card-corps {
    overflow-y: auto;
}

.banniere {
    background: url('/images/chien.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
    display: flex;
    justify-content: center;
}

.contenu-baniere {
    color: white;
    padding: 20px;
}

.fond_ecran{
    background: url('/images/famille.png') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 35px;
    height: 450px;
    display: flex;
    justify-content: center;
}

.reseau-sociaux {
    width: 30px;
    height: 30px;
}

.alignement-texte-apropos{
    text-align: justify;
}

.formulaire {
    padding-left: 80px;
    padding-right: 80px;
}