{%extends 'base.html' %}

{% block title %} Resultat de la recherche {% endblock %}


{% block content %} 

    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-12 px-0 position-relative">
                <div class="fond_ecran d-flex align-items-center">
                    <div class="contenu-baniere text-start position-absolute top-50 start-0 translate-middle-y">
                        <h1> <span class="text-primary"> ADOPTER </span></h1>
                        <p> Trouver votre compagnon dès maintenant !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <form id="barre-recherche" class="d-flex mx-3" action="/rechercher" method="GET">
            <input id="saisie" class="form-control me-2" type="search" placeholder="Rechercher un animal à adopter" name="critere-de-recherche">
            <button class="btn btn-outline-success" type="submit">Rechercher</button>
        </form>
        <div id="message-erreur" class="text-danger mt-2 text-center fs-3 mb-4" style="display: none;"></div>
    </div>

    <h2 class="text-center text-dark mt-5">Animaux disponibles</h2>
    <div class="d-flex flex-wrap justify-content-center">
        {% for animal in animaux %}
            <div class="card card-personnalise">
                <div class="card-header">
                    <h5 class="text-body-secondary text-center">{{ animal.nom }}</h5>
                  </div>
                <div class="card-body card-corps">
                    <p class="card-text">{{ animal.description }}</p>
                </div>
                <div class="card-footer text-center">
                    <small class="text-body-secondary"><a href="{{ url_for('animal', id_animal=animal.id) }}">En savoir plus</a></small>
                </div>
            </div>      
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/barreRecherche.js') }}"></script>
{%endblock%}

