{%extends 'base.html' %}

{% block title %} Adopter un animal {% endblock %}

{% block content %}
    <form action="{{ url_for('ajouter_un_animal') }}" method="post" id="formulaire">

        <div>
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" placeholder="ex: Leo">
            <span id="erreurNom", class="erreur"></span>
        </div>

        <div>
            <label for="espece">Espece</label>
            <input type="text" id="espece" name="espece" placeholder="ex: Chat" disabled>
            <span id="erreurEspece" class="erreur"></span>
        </div>

        <div>
            <label for="race">Race</label>
            <input type="text" id="race" name="race" placeholder="bengal" disabled>
            <span id="erreurRace" class="erreur"></span>
        </div>

        <div>
            <label for="age">Age</label>
            <input type="number" id="age" name="age" placeholder="age entre [0-30]" disabled>
            <span id="erreurAge" class="erreur"></span>
        </div>

        <div>
            <label for="description">Description</label>
            <textarea name="description" id="description" placeholder="ex: chat très intelligent" disabled></textarea>
            <span id="erreurDescription" class="erreur"></span>
        </div>

        <div>
            <label for="courriel">Courriel</label>
            <input type="text" name="courriel" id="courriel" placeholder="ex: alpha@gmail.ca" disabled>
            <span id="erreurCourriel" class="erreur"></span>
        </div>

        <div>
            <label for="adresse">Adresse</label>
            <input type="text" name="adresse" id="adresse" placeholder="ex: 123 avenue de la gloire" disabled>
            <span id="erreurAdresse" class="erreur"></span>
        </div>

        <div>
            <label for="ville">Ville</label>
            <input type="text" name="ville" id="ville" placeholder="ex: Montreal" disabled>
            <span id="erreurVille" class="erreur"></span>
        </div>

        <div>
            <label for="codePostal">Code Postal</label>
            <input type="text" name="codePostal" id="codePostal" placeholder="ex: A1A 1A1" disabled>
            <span id="erreurCodePostal" class="erreur"></span>
        </div>

        <button type="submit">Soumettre</button>
    </form>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{%endblock%}
