{% extends 'base.html' %}

{% block title %} Adopter un animal {% endblock %}

{% block content %}

    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-12 px-0 position-relative">
                <div class="fond_ecran d-flex align-items-center">
                    <div class="contenu-baniere text-start position-absolute top-50 start-0 translate-middle-y">
                        <h1> <span class="text-primary"> METTRE EN ADOPTION  </span></h1>
                        <p>Remplissez le formulaire ci-dessous !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <form action="{{ url_for('ajouter_un_animal') }}" method="post" id="formulaire">
            <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" id="nom" name="nom" class="form-control" placeholder="ex: Leo">
                <div id="erreurNom" class="form-text text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="espece" class="form-label">Espèce</label>
                <input type="text" id="espece" name="espece" class="form-control" placeholder="ex: Chat" disabled>
                <div id="erreurEspece" class="form-text text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="race" class="form-label">Race</label>
                <input type="text" id="race" name="race" class="form-control" placeholder="Bengal" disabled>
                <div id="erreurRace" class="form-text text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="age" class="form-label">Âge</label>
                <input type="number" id="age" name="age" class="form-control" placeholder="Âge entre [0-30]" disabled>
                <div id="erreurAge" class="form-text text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" id="description" class="form-control" placeholder="ex: Chat très intelligent" disabled></textarea>
                <div id="erreurDescription" class="form-text text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="courriel" class="form-label">Courriel</label>
                <input type="email" name="courriel" id="courriel" class="form-control" placeholder="ex: alpha@gmail.ca" disabled>
                <div id="erreurCourriel" class="form-text text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="adresse" class="form-label">Adresse</label>
                <input type="text" name="adresse" id="adresse" class="form-control" placeholder="ex: 123 avenue de la gloire" disabled>
                <div id="erreurAdresse" class="form-text text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="ville" class="form-label">Ville</label>
                <input type="text" name="ville" id="ville" class="form-control" placeholder="ex: Montreal" disabled>
                <div id="erreurVille" class="form-text text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="codePostal" class="form-label">Code Postal</label>
                <input type="text" name="codePostal" id="codePostal" class="form-control" placeholder="ex: A1A 1A1" disabled>
                <div id="erreurCodePostal" class="form-text text-danger"></div>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mb-3 mt-3">Soumettre</button>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
