{%extends 'base.html' %}

{% block title %} Accueil {% endblock %}

{% block content %}
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-12 px-0 position-relative">
                <div class="banniere d-flex align-items-center">
                    <div class="contenu-baniere text-start position-absolute top-50 start-0 translate-middle-y">
                        <h1>Vous voulez <span class="text-primary">Adopter ?</span></h1>
                        <p>Trouver votre compagnon de vie sans attendre !</p>
                        <a href="/adopter" class="btn btn-primary mt-2">Consulter les animaux disponibles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    
    <div class="container mt-4">
        <div class="container mt-4">
            <div class="text-center">
                <h3>Vous voulez adopter un animal ou mettre un animal en adoption ?<br>
                    Nous sommes là pour vous aider !</h3>
            </div>
            <div class="d-flex justify-content-between">
                <div class="p-2 d-inline-block text-justify h-100 me-4">
                    <p class="fw-bold text-center">Option 1: Adopter un animal</p>
                    <p>En choisissant cette option, vous pouvez parcourir les animaux disponibles
                        pour adoption et trouver un compagnon qui correspond à votre 
                        famille et à votre mode de vie. Vous pouvez même utiliser la barre de recherche pour trouver 
                        votre futur compagnon de vie.
                        Cliquez sur le bouton ci-dessous pour consulter les profils des 
                        animaux et commencer le processus d'adoption.
                    </p>
                    <div class="text-center">
                        <a href="/adopter" class="btn btn-primary mt-2">Consulter les animaux disponibles</a>
                    </div>
                </div>

                <div class="p-2 d-inline-block text-justify h-100 ms-4">
                    <p class="fw-bold text-center">Option 2: Mettre un animal en adoption</p>
                    <p>Si vous souhaitez mettre un animal en adoption, vous êtes au bon endroit. 
                        Cette option vous permet de soumettre les informations sur l'animal que vous souhaitez offrir à l'adoption.
                        Nous mettrons l'animal en vedette sur 
                        notre site Web pour aider à trouver une nouvelle famille aimante.
                        Cliquez sur le bouton ci-dessous pour remplir le formulaire 
                        de mise en adoption.
                    </p>
                        <div class="text-center">
                            <a href="/ajouter_un_animal" class="btn btn-primary mt-2">Mettre un animal en adoption</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>

    <h2 class="text-center text-dark">Animaux en vedette</h2>
    <div class="d-flex flex-wrap justify-content-center">
        {% for animal in animaux %}
            <div class="card card-personnalise">
                <div class="card-header">
                    <h5 class="text-body-secondary text-center">{{ animal.nom }}</h5>
                  </div>
                <div class="card-body card-corps">
                    <p class="card-text">{{ animal.description }}</p>
                </div>
                <div class="card-footer text-center">
                    <small class="text-body-secondary"><a href="{{ url_for('animal', id_animal=animal.id) }}">En savoir plus</a></small>
                </div>
            </div>      
        {% endfor %}
    </div>
{%endblock%}

