{%extends 'base.html' %}

{% block title %} Resultat de la recherche {% endblock %}


{% block content %} 
    <div class="container mt-5">
        <form class="d-flex mx-3" action="/rechercher" method="GET">
            <input class="form-control me-2" type="search" placeholder="Rechercher un animal à adopter" name="critere-de-recherche">
            <button class="btn btn-outline-success" type="submit">Rechercher</button>
        </form>
    </div>

    {% if critere %}
        <h2 class="text-center text-dark mt-4">Résultat de la recherche pour le critère: <span class="text-primary">{{ critere }}</span></h2>
        <div class="d-flex flex-wrap justify-content-center">
            {% for animal in animaux %}
                <div class="card card-personnalise">
                    <div class="card-header">
                        <h5 class="text-body-secondary text-center">{{ animal.nom }}</h5>
                    </div>
                    <div class="card-body card-corps">
                        <p class="card-text">{{ animal.description }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-body-secondary"><a href="{{ url_for('animal', id_animal=animal.id) }}">En savoir plus</a></small>
                    </div>
                </div>      
            {% endfor %}
        </div>
    {% endif %}
    
    {% if message %}
        <h1 class="text-center text-danger mt-5">{{message}}</h1>
    {% endif %}
    
{% endblock %}
