{%extends 'base.html' %}

{% block title %} Resultat de la recherche {% endblock %}


{% block content %} 

    <div class="container mt-5">
        <form class="d-flex mx-3" action="/rechercher" method="GET">
            <input class="form-control me-2" type="search" placeholder="Rechercher un animal à adopter" name="critere-de-recherche">
            <button class="btn btn-outline-success" type="submit">Rechercher</button>
        </form>
    </div>


    {% for animal in animaux %}
        <h3>{{animal.nom}}</h3>
        <p>{{animal.description}}</p>
        <a href="{{ url_for('animal', id_animal=animal['id']) }}">En savoir plus</a>
    {%endfor%}

    {% if message %}
        <h1 class="text-center text-danger mt-5">{{message}}</h1>
    {% endif %}
    
{%endblock%}
